<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @prediction.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @prediction.answer %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
