<h1>Listing bets</h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>User</th>
      <th>Local score</th>
      <th>Visit score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.match.local.name %> VS <%= bet.match.visit.name %></td>
        <td><%= bet.user.name %></td>
        <td><%= bet.local_score %></td>
        <td><%= bet.visit_score %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
