<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @bet.match %>
</p>

<p>
  <strong>User:</strong>
  <%= @bet.user %>
</p>

<p>
  <strong>Local score:</strong>
  <%= @bet.local_score %>
</p>

<p>
  <strong>Visit score:</strong>
  <%= @bet.visit_score %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
