<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-md-6 column">
    <h1><%= @user.name %></h1>
    <p>Puntos: <%=@user.total_points %></p>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-6 column">
    <h2>Respuestas</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Pregunta</th>
        <th>Respuesta</th>
      </tr>
      </thead>
      <tbody>
      <%  @questions.each do |q|%>
        <tr>
          <td>
            <%= q[0].question %>
          </td>
          <td>
            <% if q[1].nil?%>
            -
            <% else %>
                <% if q[0].question_type == 1 %>
                    <%= Team.find(q[1].answer.to_i).name%>
                <% elsif q[0].question_type == 2%>
                    <%= q[1].answer%>
                <% elsif q[0].question_type == 3%>
                    <%= q[1].answer%>
                <% else%>
                    <%= Team.find(q[1].answer.to_i).name%>
                <% end  %>
            <% end %>
          </td>
        </tr>
      <%end  %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 column">
    <h2>Apuestas</h2>
    <table class="table">
      <thead>
      <th>Partido</th>
      <th>Apuesta</th>
      </thead>
      <tbody>
      <%  @bets.each do |b|%>
          <tr>
            <td>
              <%= b[0].local.name + ' VS ' + b[0].visit.name %>
            </td>
            <td>
              <%= b[1].nil? ? '-' : b[1].display_bet%>
            </td>
          </tr>
      <%end  %>
      </tbody>
    </table>
  </div>
</div>
