<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @match.local %>
</p>

<p>
  <strong>Visit:</strong>
  <%= @match.visit %>
</p>

<p>
  <strong>Local score:</strong>
  <%= @match.local_score %>
</p>

<p>
  <strong>Local visit:</strong>
  <%= @match.local_visit %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
